
section{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height:100%;
  margin-top: 300px;
}

.slideshow{
    display: flex;
    flex-flow:row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 100px;
    width:100%;
    height:100%;
}
p{
    width:50%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.main{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:100%;
    padding:1rem;
    margin-top:50px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-left:100px;
}
.mySlides {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.mySlides img{
  width:400px;
  height:300px;
}

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.form-wrapper{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height:500px;
  border-radius: 4px;
}
input{
  width:50%;
  padding: 10px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 20px;
}
#submit{
  width:25%;
  padding:10px;
  border-radius: 4px;
}
#thoughts{
  padding: 10px;
  width:50%;
  font-family: sans-serif;
  font-size: 20px;
}
.submit-results{
  color:red;
  font-size: 20px;
}